.navbar{
    width: 100%;
}
h1{
    font-weight: 800;
    text-align: center;
}
.container{
    display: flex;
    width: 100%;
    background-color: black;
    /* border: 1px solid red; */
    justify-content: center;

    }
    .container li{
        display: inline-block;
        margin: 10px;
        padding: 10px;
        /* border: 1px solid red; */
        }
        .container li a{
        text-decoration: none;
        font-size: 26px;
        color: white;
        background-color: black;
}
.container li a:hover{
    transition: 0.1s ease-in;
    background-color: white;
    color: black;
}
